<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @tip.title %>
</p>

<p>
  <b>Text:</b>
  <%= @tip.text %>
</p>

<p>
  <b>Date:</b>
  <%= @tip.date %>
</p>


<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
